.useStateHook {
  background-color: red;
  color: aliceblue;
  padding: 20px;
}
.userstate {
  background-color: violet;
  color: aliceblue;
  padding: 20px;
}
.conditionalrendering {
  margin: 200px;
}
.Register {
  margin: 500px;
}
