.useStateHook {
  background-color: red;
  color: aliceblue;
  padding: 20px;
}
.userstate {
  background-color: violet;
  color: aliceblue;
  padding: 20px;
}
.conditionalrendering {
  margin: 200px;
}
.Register {
  margin: 500px;
}

/* uerRef */
.image-container {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  cursor: pointer;
  background: aqua;
}
.image {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  cursor: pointer;
}

/* context */

.light {
  background-color: aliceblue;
  color: black;
  padding: 50px;
}
.black {
  background-color: black;
  color: white;
  padding: 50px;
}
